
.icon-arrow {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/arrow.png');
}



.icon-biscuit {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/biscuit.png');
}



.icon-bol {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/bol.png');
}



.icon-boombox {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/boombox.png');
}



.icon-burger {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/burger.png');
}



.icon-chaise_et_table {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/chaise_et_table.png');
}



.icon-framboise {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/framboise.png');
}



.icon-gateau {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/gateau.png');
}



.icon-menu {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/menu.png');
}



.icon-part_de_gateau {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/part_de_gateau.png');
}



.icon-poivron {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/poivron.png');
}



.icon-restau {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/restau.png');
}



.icon-ruban {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/ruban.png');
}



.icon-semer {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/semer.png');
}



.icon-verre_paille {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/verre_paille.png');
}


